// .background3 {
//     display: block;
//     background-image: url('../img/background3.png');
//     /*背景画像*/
//     background-attachment: fixed;
//     /*背景画像を固定*/
//     background-repeat: no-repeat;
//     /*背景画像リピートしない*/
//     background-position: center top;
//     /*背景画像の開始位置*/
//     width: 393px;
//     margin: 0 auto;
//     padding-bottom: 120px;
// }



// .background3 {
//     background-image: url(../img/background3.png);
//     // background-size: cover;
//     background-position: center top;
//     background-attachment: fixed;
//     width: 393px;
//     margin: 0 auto;
//     background-repeat: no-repeat;
//     padding-bottom: 120px;
// }

// .interview {
//     color: #fff;
// }