@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@500&display=swap");
@media screen and (min-width: 900px) and (max-width: 1280px) {
  .accordion_div div {
    max-width: 800px;
    background-color: #fff;
  }
  .text-flex {
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .top-page-guidance-div-2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .top-page-guidance-div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .text-5 {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
  }
  .width-chronology {
    width: 570px;
  }
  .item1 {
    left: 58%;
    top: 8%;
  }
  .item2 {
    left: 0%;
    top: 16%;
  }
  .item3 {
    left: 58%;
    top: 28%;
  }
  .item4 {
    left: 0%;
    top: 46%;
  }
  .item5 {
    left: 58%;
    top: 58%;
  }
  .item6 {
    left: 0%;
    top: 74%;
  }
  .item7 {
    left: 58%;
    top: 86%;
  }
  .positionA {
    position: absolute;
    width: 270px;
  }
  .paddingLR40px {
    padding-left: 40px;
    padding-right: 40px;
  }
  .marginLR-pc {
    margin-left: 80px;
    margin-right: 80px;
  }
  .text-4-interview {
    line-height: 50px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
  }
  .interview-div {
    display: grid;
    justify-content: center;
  }
  .pc_marginB80px_productionprocess {
    margin-bottom: 80px;
    margin-top: 20px;
  }
  .iframe_productionProcess {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 340px;
    height: 263px;
  }
  /* 背景画像 */
  .workListImg {
    display: block;
    margin: 0 auto;
    width: 340px;
  }
  .qa-006 {
    min-width: 800px;
    border-bottom: 2px solid #d6dde3;
  }
  .heading {
    font-family: "Zen Old Mincho", serif;
    background: #9E4020;
    color: #fff;
    padding: 0.75rem 1rem;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
  }
  .please {
    margin-bottom: 100px;
  }
  .instagram-center {
    margin: 0 auto;
    width: 542px;
    /* 左右のマージンを自動で調整して中央寄せ */
  }
  .background {
    background-image: url(https://www.sohei-portfolio.com/img/background.png);
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
  }
  .flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .flex-box-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
  }
  .flex-box-3 {
    display: flex;
    flex-wrap: wrap;
    /* アイテムがコンテナを超えた場合に折り返す */
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 50px;
    margin-right: 50px;
    /* アイテム間のスペースを適切に調整 */
  }
  .flex-item {
    width: 40%;
  }
  .text {
    margin-left: 80px;
    margin-right: 80px;
    line-height: 70px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
  }
  .text-2 {
    margin-left: 80px;
    margin-right: 80px;
    line-height: 50px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
    display: inline-block;
  }
  .text-3 {
    line-height: 50px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .pc_site_img img {
    width: 500px;
    display: block;
    margin: 0 auto;
  }
  .fv_sp {
    display: none;
  }
  .fv_pc {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fv_tublet {
    display: none;
  }
  .title_sp {
    display: none;
  }
  .title_pc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 370px;
  }
  .fv {
    min-height: 100vh;
  }
  .top_main_div_section {
    position: relative;
  }
  .footer {
    background-color: #543F32;
    height: 180px;
    margin-top: 120px;
  }
  .footer div {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .footer div div {
    margin: 16px 44px;
  }
  .footer div div a {
    color: #fff;
    font-family: "Zen Old Mincho", serif;
    font-size: 18px;
  }
  .footer p {
    text-align: center;
    color: #fff;
    margin-top: 80px;
    font-family: "Zen Old Mincho", serif;
  }
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #FFFEF9;
  }
  .menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #543F32;
    transition: all 0.5s;
    /*アニメーション設定*/
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
    width: 29%;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  #menu-btn-check:checked ~ .menu-content {
    left: 70%;
    /*メニューを画面内へ*/
  }
}
@media screen and (max-width: 599px) {
  .btn,
a.btn,
button.btn {
    position: relative;
    display: inline-block;
    width: 85%;
    padding: 20px 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
  }
  .qa-006 {
    max-width: 400px;
    border-bottom: 2px solid #d6dde3;
  }
  .accordion_div div {
    background-color: #fff;
  }
  .text-flex {
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }
  .otherPageTopImage {
    width: 100%;
    display: block;
  }
  .text-5 {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
  }
  .top-page-guidance-div {
    width: 90%;
    margin: 0 auto;
  }
  .item1 {
    left: 58%;
    top: 8%;
  }
  .item2 {
    left: 8%;
    top: 16%;
  }
  .item3 {
    left: 58%;
    top: 28%;
  }
  .item4 {
    left: 8%;
    top: 46%;
  }
  .item5 {
    left: 58%;
    top: 58%;
  }
  .item6 {
    left: 8%;
    top: 74%;
  }
  .item7 {
    left: 58%;
    top: 86%;
  }
  .width-chronology {
    max-width: 393px;
  }
  .positionA {
    position: absolute;
    width: 144px;
  }
  .paddingLR10px {
    padding-left: 10px;
    padding-right: 10px;
  }
  .marginLR-sp {
    margin-left: 30px;
    margin-right: 30px;
  }
  .text-4-interview {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .width333px {
    width: 333px;
  }
  .sp_marginB50px_productionprocess {
    margin-bottom: 70px;
    margin-top: 20px;
  }
  .iframe_productionProcess {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 333px;
    height: 260px;
  }
  .workListImg {
    display: block;
    margin: 0 auto;
  }
  .heading {
    font-family: "Zen Old Mincho", serif;
    background: #9E4020;
    color: #fff;
    padding: 0.75rem 1rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .instagram-center {
    margin: 0 auto;
    max-width: 390px;
    /* 左右のマージンを自動で調整して中央寄せ */
  }
  .please {
    margin-bottom: 50px;
  }
  .background {
    background-image: url(https://www.sohei-portfolio.com/img/background.png);
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
  }
  .flex-box-2 {
    display: inline-block;
  }
  .top_storesAndEvents {
    margin-bottom: 60px;
  }
  .flex-item-2 h3 {
    margin-top: 30px;
  }
  .text {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .sp_site_img img {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    display: block;
    margin: 0 auto;
  }
  .title_sp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
  }
  .title_pc {
    display: none;
  }
  .fv_sp {
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fv_pc {
    display: none;
  }
  .fv_tublet {
    display: none;
  }
  .top_main_div_section {
    text-align: center;
  }
  .top_main_header {
    position: fixed;
    z-index: 999;
  }
  .footer {
    background-color: #543F32;
    height: 250px;
    margin-top: 120px;
  }
  .footer div {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .footer div div {
    margin: 16px 44px;
  }
  .footer div div a {
    color: #fff;
    font-family: "Zen Old Mincho", serif;
    font-size: 18px;
  }
  .footer p {
    text-align: center;
    color: #fff;
    margin-top: 40px;
    font-family: "Zen Old Mincho", serif;
  }
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #FFFEF9;
  }
  .menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #543F32;
    transition: all 0.5s;
    /*アニメーション設定*/
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  #menu-btn-check:checked ~ .menu-content {
    left: 0;
    /*メニューを画面内へ*/
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .qa-006 {
    min-width: 570px;
    border-bottom: 2px solid #d6dde3;
  }
  .accordion_div div {
    max-width: 570px;
    background-color: #fff;
  }
  .text-flex {
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .pc_site_img img {
    width: 500px;
    display: block;
    margin: 0 auto;
  }
  .text-5 {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
  }
  .top-page-guidance-div {
    width: 90%;
    margin: 0 auto;
  }
  .top-page-guidance-div-2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .item1 {
    left: 58%;
    top: 8%;
  }
  .item2 {
    left: 8%;
    top: 16%;
  }
  .item3 {
    left: 58%;
    top: 28%;
  }
  .item4 {
    left: 8%;
    top: 46%;
  }
  .item5 {
    left: 58%;
    top: 58%;
  }
  .item6 {
    left: 8%;
    top: 74%;
  }
  .item7 {
    left: 58%;
    top: 86%;
  }
  .width-chronology {
    width: 393px;
  }
  .positionA {
    position: absolute;
    width: 144px;
  }
  .paddingLR10px {
    padding-left: 10px;
    padding-right: 10px;
  }
  .marginLR-sp {
    margin-left: 30px;
    margin-right: 30px;
  }
  .text-4-interview {
    margin-left: 80px;
    margin-right: 80px;
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .width333px {
    width: 333px;
  }
  .sp_marginB50px_productionprocess {
    margin-bottom: 70px;
    margin-top: 20px;
  }
  .iframe_productionProcess {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 333px;
    height: 260px;
  }
  .workListImg {
    display: block;
    margin: 0 auto;
  }
  .heading {
    font-family: "Zen Old Mincho", serif;
    background: #9E4020;
    color: #fff;
    padding: 0.75rem 1rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .instagram-center {
    margin: 0 auto;
    max-width: 390px;
    /* 左右のマージンを自動で調整して中央寄せ */
  }
  .please {
    margin-bottom: 50px;
  }
  .background {
    background-image: url(https://www.sohei-portfolio.com/img/background.png);
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
  }
  .flex-box-2 {
    display: inline-block;
  }
  .top_storesAndEvents {
    margin-bottom: 60px;
  }
  .flex-item-2 h3 {
    margin-top: 30px;
  }
  .text {
    margin-left: 80px;
    margin-right: 80px;
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .sp_site_img img {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    display: block;
    margin: 0 auto;
  }
  .title_sp {
    display: none;
  }
  .title_pc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
  }
  .fv_sp {
    display: none;
  }
  .fv_pc {
    display: none;
  }
  .fv_tublet {
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .top_main_div_section {
    text-align: center;
  }
  .top_main_header {
    position: fixed;
    z-index: 999;
  }
  .footer {
    background-color: #543F32;
    height: 250px;
    margin-top: 120px;
  }
  .footer div {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .footer div div {
    margin: 16px 44px;
  }
  .footer div div a {
    color: #fff;
    font-family: "Zen Old Mincho", serif;
    font-size: 18px;
  }
  .footer p {
    text-align: center;
    color: #fff;
    margin-top: 40px;
    font-family: "Zen Old Mincho", serif;
  }
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #FFFEF9;
  }
  .menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #543F32;
    transition: all 0.5s;
    /*アニメーション設定*/
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  #menu-btn-check:checked ~ .menu-content {
    left: 0;
    /*メニューを画面内へ*/
  }
}
@media (min-width: 1281px) {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .accordion_div div {
    max-width: 800px;
    background-color: #fff;
  }
  .text-flex {
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .top-page-guidance-div-2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .top-page-guidance-div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .text-5 {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
  }
  .width-chronology {
    width: 570px;
  }
  .item1 {
    left: 58%;
    top: 8%;
  }
  .item2 {
    left: 0%;
    top: 16%;
  }
  .item3 {
    left: 58%;
    top: 28%;
  }
  .item4 {
    left: 0%;
    top: 46%;
  }
  .item5 {
    left: 58%;
    top: 58%;
  }
  .item6 {
    left: 0%;
    top: 74%;
  }
  .item7 {
    left: 58%;
    top: 86%;
  }
  .positionA {
    position: absolute;
    width: 270px;
  }
  .paddingLR40px {
    padding-left: 40px;
    padding-right: 40px;
  }
  .marginLR-pc {
    margin-left: 80px;
    margin-right: 80px;
  }
  .text-4-interview {
    line-height: 50px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
  }
  .interview-div {
    display: grid;
    justify-content: center;
  }
  .pc_marginB80px_productionprocess {
    margin-bottom: 80px;
    margin-top: 20px;
  }
  .iframe_productionProcess {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    height: 315px;
  }
  /* 背景画像 */
  .workListImg {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  .qa-006 {
    min-width: 800px;
    border-bottom: 2px solid #d6dde3;
  }
  .heading {
    font-family: "Zen Old Mincho", serif;
    background: #9E4020;
    color: #fff;
    padding: 0.75rem 1rem;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
  }
  .please {
    margin-bottom: 100px;
  }
  .instagram-center {
    margin: 0 auto;
    width: 542px;
    /* 左右のマージンを自動で調整して中央寄せ */
  }
  .background {
    background-image: url(https://www.sohei-portfolio.com/img/background.png);
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
  }
  .flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .flex-box-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
  }
  .flex-box-3 {
    display: flex;
    flex-wrap: wrap;
    /* アイテムがコンテナを超えた場合に折り返す */
    justify-content: space-around;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    /* アイテム間のスペースを適切に調整 */
  }
  .flex-item {
    width: 30%;
  }
  .text {
    margin-left: 80px;
    margin-right: 80px;
    line-height: 70px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
  }
  .text-2 {
    margin-left: 80px;
    margin-right: 80px;
    line-height: 50px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
    display: inline-block;
  }
  .text-3 {
    line-height: 50px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: left;
  }
  .pc_site_img img {
    width: 500px;
    display: block;
    margin: 0 auto;
  }
  .fv_sp {
    display: none;
  }
  .fv_pc {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fv_tublet {
    display: none;
  }
  .title_sp {
    display: none;
  }
  .title_pc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
  }
  .fv {
    min-height: 100vh;
  }
  .top_main_div_section {
    position: relative;
  }
  .footer {
    background-color: #543F32;
    height: 180px;
    margin-top: 120px;
  }
  .footer div {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .footer div div {
    margin: 16px 44px;
  }
  .footer div div a {
    color: #fff;
    font-family: "Zen Old Mincho", serif;
    font-size: 18px;
  }
  .footer p {
    text-align: center;
    color: #fff;
    margin-top: 80px;
    font-family: "Zen Old Mincho", serif;
  }
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #FFFEF9;
  }
  .menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #543F32;
    transition: all 0.5s;
    /*アニメーション設定*/
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
    width: 19%;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  #menu-btn-check:checked ~ .menu-content {
    left: 80%;
    /*メニューを画面内へ*/
  }
}
li {
  list-style-type: none;
}

.signature {
  width: 115px;
}

.extenal-link {
  /* ボタン幅 */
  border: 2px solid #9E4020;
  /* 線幅・種類・色 */
  color: #9E4020;
  /* 文字色 */
  background: #fff;
  /* 背景色 */
  /* 影の距離・色 */
  box-shadow: 4px 4px 0 #9E4020;
  /* 影の距離・色 */
  font-weight: bold;
  /*文字の太さ*/
  text-decoration: none;
  transition: 0.3s;
}

.extenal-link {
  position: relative;
  /* 以下はボタンのデザインです。適宜変更してください。 */
  display: block;
  width: 280px;
  padding: 20px 30px 20px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto 20px;
}

/* マウスオーバーした際のデザイン */
.extenal-link:hover {
  /* 影の距離・色 */
  box-shadow: -4px -4px 0 #9E4020;
  /* 影の距離・色 */
}

.external_h3 {
  text-align: center;
}

.external-li {
  margin-bottom: 30px;
}

.extenal-link {
  font-size: 18px;
}

.top_storesAndEvents {
  padding-left: 10px;
  padding-right: 10px;
}

.top_storesAndEvents li {
  line-height: 50px;
}

.extenal-link:after {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #9E4020;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -6px;
}

a:active {
  color: #26a69a;
}

.top_main_div_omoi_h2 {
  margin-top: 60px;
}
.top_main_div_omoi_name {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Shippori Mincho", serif;
  font-size: 20px;
}
.top_main_div_omoi_text {
  margin-bottom: 120px;
}
.top_main_div_pageIntroduction h2 {
  margin-top: 24px;
  margin-bottom: 10px;
}
.top_main_div_salesStore_div {
  text-align: center;
}
.top_main_div_salesStore_div_div {
  text-align: left;
}
.top_main_div_salesStore_div_div h3 {
  font-family: "Zen Old Mincho", serif;
}
.top_main_div_salesStore_div_div ul li {
  font-family: "Zen Old Mincho", serif;
}
.top_main_div_salesStore_div_div ul li a {
  font-family: "Zen Old Mincho", serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  position: relative;
  display: inline-block;
  width: 333px;
  padding: 20px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #9E4020;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #543F32;
}

.btnDiv {
  margin-top: 35px;
  margin-bottom: 90px;
}
.btnDiv a {
  font-family: "Zen Old Mincho", serif;
  font-weight: bold;
  font-size: 18px;
}

.btnDiv2 {
  margin-top: 35px;
  margin-bottom: 120px;
}
.btnDiv2 a {
  font-family: "Zen Old Mincho", serif;
  font-weight: bold;
  font-size: 18px;
}

.caption {
  margin-top: 20px;
  margin-bottom: 80px;
}

.accordion_div {
  display: flex;
  justify-content: center;
}

.qa-006 {
  font-family: "Zen Old Mincho", serif;
}

.qa-006 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em 1em 3em;
  color: #333333;
  font-weight: 600;
  cursor: pointer;
}

.qa-006 summary::before,
.qa-006 p::before {
  position: absolute;
  left: 1em;
  font-weight: 600;
  font-size: 1.3em;
}

.qa-006 summary::before {
  color: #75bbff;
  content: "Q";
}

.qa-006 summary::after {
  transform: translateY(-25%) rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-bottom: 3px solid rgba(51, 51, 51, 0.7019607843);
  border-right: 3px solid rgba(51, 51, 51, 0.7019607843);
  content: "";
  transition: transform 0.5s;
}

.qa-006[open] summary::after {
  transform: rotate(225deg);
}

.qa-006 p {
  position: relative;
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: 0.3em 3em 1.5em;
  color: #333;
  transition: transform 0.5s, opacity 0.5s;
}

.qa-006[open] p {
  transform: none;
  opacity: 1;
}

.qa-006 p::before {
  color: #ff8d8d;
  line-height: 1.2;
  content: "A";
}

.blockquote {
  background-color: #D9D9D9;
}

.marginT30px {
  margin-top: 30px;
}

.textL {
  text-align: left;
}

.display-inline-block {
  display: inline-block;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
#back-to-top img {
  width: 112px;
}

.textA {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Shippori Mincho", serif;
  font-size: 26px;
}

.marginT50px {
  margin-top: 50px;
}

.marginT120px {
  margin-top: 120px;
}

.marginT30px {
  margin-top: 30px;
}

.marginT20px {
  margin-top: 20px;
}

.marginB60px {
  margin-bottom: 60px;
}

.marginB10px {
  margin-bottom: 10px;
}

.marginB30px {
  margin-bottom: 30px;
}

.marginB120px {
  margin-bottom: 120px;
}

.marginB20px {
  margin-bottom: 20px;
}

.marginB50px {
  margin-bottom: 50px;
}

.margin0auto {
  margin: 0 auto;
}

.paddingB20px {
  padding-bottom: 20px;
}

iframe.instagram-media {
  margin-bottom: 0 !important;
}

.margin-display {
  margin: auto;
  display: block;
}

.otherPageTopImage {
  width: 100%;
  display: block;
}

.otherPage-h1 {
  font-family: "Shippori Mincho", serif;
  font-size: 30px;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px;
}

.otherPage-h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.zenOld {
  font-family: "Zen Old Mincho", serif;
}

.shippori {
  font-family: "Shippori Mincho", serif;
}

.font18px {
  font-size: 18px;
}

.font20px {
  font-size: 20px;
}

.font30px {
  font-size: 30px;
}

.positionR {
  position: relative;
}

.fontBold {
  font-weight: bold;
}

.accent {
  color: #9E4020;
}

.width393px {
  width: 393px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.marginT40px {
  margin-top: 40px;
}

.left-inline {
  text-align: left;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */