@use 'variable' as *;
@use 'mixin' as *;

.interview_header {
  position: fixed;
  z-index: 50;
  width: 100%;
}

.interview_main_div {
  font-family: 'New Tegomin', serif;

  @include pc {
    max-width: 900px;
    margin: 0 auto;
  }
}

.interview-div {
  width: 80%;
  margin: 0 auto;
}

.text-4-interview {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 2;
  color: $font-color-2;
  font-size: 14px;
  text-align: left;
}
