@mixin sp {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}
