@use 'variable' as *;
@use 'mixin' as *;

.background {
  background: url('/img/background.png');
  @include pc {
    background: url('/img/pc_background.png');
  }
}

.background2 {
  background-color: #eae5df;
}

.top_header {
  position: fixed;
  z-index: 50;
  width: 100%;

  .top_header_h1 {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    padding: 10px;

    .top_header_h1_img {
      height: 25px;
    }
  }
}

.hamburger-menu {
  z-index: 50;
}

#menu-btn-check {
  display: none;
}

.menu-btn {
  position: fixed;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  cursor: pointer;
  right: 10px;
  top: 10px;
  background-color: rgba(234, 229, 223, 0.8);
  border-radius: 50%;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  border-radius: 3px;
  background-color: #333;
  position: absolute;
  transition: 0.5s;
}

.menu-btn span:before {
  bottom: 6px;
}

.menu-btn span:after {
  top: 6px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: rgba(234, 229, 223, 0.8);
  transition: all 0.5s;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #333;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: $font-color;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
  font-family: 'New Tegomin', serif;
  letter-spacing: 0.1em;
}

.menu-content ul li a::before {
  content: '';
  width: 7px;
  height: 7px;
  border-top: solid 2px $font-color;
  border-right: solid 2px $font-color;
  transform: rotate(45deg);
  position: absolute;
  right: 12px;
  top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;
}

.fv {
  overflow: hidden;

  .gsap {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .title_sp {
    width: 60%;
    display: block;
    margin: 0 auto;

    @include pc {
      display: none;
    }

    @include tab {
      display: none;
    }
  }

  .title_pc {
    display: none;

    @include pc {
      display: block;
      width: 40%;
      margin: 0 auto;
    }

    @include tab {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }

  .fv_sp {
    width: 100%;

    @include pc {
      display: none;
    }

    @include tab {
      display: none;
    }
  }

  .fv_pc {
    display: none;

    @include pc {
      display: block;
      width: 100%;
    }
  }

  .fv_tublet {
    display: none;

    @include tab {
      display: block;
      width: 100%;
    }
  }
}

.top_main_div {
  font-family: 'New Tegomin', serif;
}

.top_main_div_omoi {
  padding: 60px 0;

  @include pc {
    max-width: 900px;
    margin: 0 auto;
  }

  img {
    width: 90%;
  }

  .top_main_div_omoi_h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: $font-color;
    letter-spacing: 0.2em;
    font-family: 'New Tegomin', serif;
  }
}

.top_main_div_pageIntroduction {
  @include pc {
    max-width: 900px;
    margin: 0 auto;
  }

  h2 {
    font-size: 22px;
    color: $font-color;
    text-align: center;
    font-family: 'New Tegomin', serif;
    letter-spacing: 0.2em;
  }
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

  .flex-item {
    width: 90%;
    text-align: center;
  }

  img {
    width: 90%;
  }
}

.top-page-guidance-div-2 {
  margin: 0 auto;
  width: 80%;
}

.text {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 2;
  color: $font-color-2;
  font-size: 14px;
}

.text-2 {
  @include pc {
    text-align: left;
  }
  text-align: left;
}

.text-flex {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 2;
  color: $font-color-2;
  font-size: 14px;
  text-align: left;
}

.text-5 {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 2;
  color: $font-color-2;
  font-size: 14px;
  text-align: center;
}

.signature {
  width: 200px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-family: 'Noto Sans JP', sans-serif;
}

.btn--orange {
  color: $font-color;
  border-bottom: 1px solid;
  font-size: 14px;
  letter-spacing: 0.2em;
}

.btnDiv {
  margin-bottom: 30px;
  margin-top: 20px;
}

.btnDiv2 {
  margin-top: 20px;
}

.top_main_div_salesStore {
  width: 100%;

  .top_main_div_salesStore_div {
    margin: 0 auto;
    padding: 50px 0;
  }

  .top_main_div_salesStore_div_div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include pc {
      flex-direction: row;
      justify-content: center;
      gap: 80px;
      max-width: 900px;
    }
  }
}

.external_h3 {
  font-size: 22px;
  color: $font-color;
  font-family: 'New Tegomin', serif;
  letter-spacing: 0.2em;
  text-align: center;
}

.top_storesAndEvents {
  margin-bottom: 40px;
}

.external-li {
  margin-top: 20px;
  text-align: center;

  .extenal-link {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 2;
    color: $font-color-2;
    font-size: 14px;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }

  .extenal-link::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: $font-color;
    transition: 0.3s;
    transform: translateX(-50%);
  }

  .extenal-link:hover::after {
    width: 100%;
  }
}

.flex-box-2 {
  display: flex;
  flex-direction: column;
}

.instagram-center {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.footer {
  padding: 80px 0 30px;
  text-align: center;

  div {
    margin-bottom: 5px;
  }

  a {
    font-family: 'Noto Sans JP', sans-serif;
    color: $font-color-2;
    font-size: 12px;
  }

  p {
    font-family: 'Noto Sans JP', sans-serif;
    color: $font-color-2;
    font-size: 12px;
    margin-top: 10px;
  }
}

#back-to-top {
  display: inline-block;
  margin-bottom: 20px;

  img {
    width: 40px;
    height: 40px;
  }
}

.scroll,
.scroll2,
.scroll3,
.scroll4,
.scroll5 {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.scroll.active,
.scroll2.active,
.scroll3.active,
.scroll4.active,
.scroll5.active {
  opacity: 1;
}
