// $abc:rgb(232, 217, 217);
//変数を格納しておくところ

$background: #FFFEF9;
$accent: #9E4020;
$main: #543F32;
$margin: 30px;
$noto: 'Noto Sans JP', sans-serif;
$shippori: 'Shippori Mincho', serif;
$zenOld: 'Zen Old Mincho', serif;