// // h1 {
// //     color: red;
// // }

// // 変数
// $abc:rgb(232, 217, 217);

// // 入れ子
// .top{
//     background: $abc;
//     &_dl{
//         background-color: $abc;
//         &_dt{
//     color: rgb(207, 232, 232);
//         }
//     }
// }

//各ページのリンクを貼るだけ　アンダーバー（ _ ）の書いてあるsassのページ（サイトの各ページ）を集めてcssに変換するための役割
//style.scssを保存すると、大体の場合において上書きされる

@use "_top";
@use"_workIntroduction";
@use"productionProcess";
@use"interview";
@use"artistIntroduction";
@use "_main.scss";